@import url('/fonts/stylesheet.css');

h1 {
  font-family: 'JetBrainsMono Nerd Font';
  font-weight: bold;
  font-size: 48px;
  color: white;
}

p {
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 16px;
  color: white;
}